<style media="screen">
	.banner {
		overflow: hidden;
	}
	.imgbox {
		position: relative;
		width: 30%;
		height: 200px;
		margin-right: 3%;
		float: left;
	}
	.img {
		width: 100%;
		height: 200px;
	}
	.label {
		position: absolute;
		width: 30%;
		bottom: 0;
		left: 0;
		height: 30px;
		background: rgba(0,0,0,0.3);
		text-align: left;
	}
	.label span {
		color: #ffffff;
		font-size: 14px;
		font-weight: bold;
		line-height: 30px;
	}
	.list {
		clear: both;
		text-align: left;
		margin-top: 20px;
	}
	.list ul {
		margin: 0;
		padding: 0;
	}
	.list ul li {
		clear: both;
		text-decoration: none;
		list-style: none;
		border-top: 1px solid #ccc;
		padding: 10px 0;
		overflow: hidden;
	}
	.list ul li .leftimg {
		float: left;
		width: 200px;
		height: 150px;
		margin-right: 10px;
	}
	.list ul li .rightbox {
		/*float: left;*/
		height: 150px;
		position: relative;
		margin-left: 220px;
	}
	.list ul li .r-title {
		font-size: 18px;
		color: #333;
	}
	.list ul li .r-content {
		margin-top: 15px;
		font-size: 13px;
		color: #666;
	}
	.list ul li .r-footer {
		position: absolute;
		font-size: 13px;
		color: #666;
		bottom: 0;
		left: 0;
	}
	a {
		text-decoration: none;
	}
</style>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue-madison">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>{{$state.current.data.pageTitle}}
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload"></a>
				</div>
			</div>
			<div class="portlet-body">
				<ul id="Tabs" class="nav nav-tabs">
					<li class="active" type="table" style="width:20%;text-align:center;">
						<a href="#dangan" data-toggle="tab">
							档案页</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;">
						<a href="#record" data-toggle="tab">
							系统记录
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="dangan" class="form-horizontal tab-pane active">
						<div class="banner">
							<div class="imgbox" ng-repeat="n in tops">
								<a href="#/BasicDetail/{{n.id}}">
									<img class="img" src="{{n.titleImgUrl}}" alt=""/>
									<div class="label">
										<span>{{n.title}}</span>
									</div>
								</a>
							</div>
						</div>
						<div class="list">
							<ul ng-repeat="n in lists">
								<li>
									<a href="#/BasicDetail/{{n.id}}">
										<div class="">
											<img class="leftimg" src="{{n.titleImgUrl}}" alt=""/>
											<div class="rightbox">
												<div class="r-title">
													<span>{{n.title}}</span>
												</div>
												<div class="r-content">{{n.desc}}</div>
												<div class="r-footer">
													<span>{{n.updateTime}}</span>
												</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="record" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-hover" id="sample_3">
								<thead>
									<tr>
										<th>
											管理员
										</th>
										<th>
											登录时间
										</th>
										<th>
											操作日志
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
