<style media="screen">
	.banner{
		overflow: hidden;
	}
	.imgbox{
		position: relative;
		width:30%;
		height: 200px;
		margin-right: 3%;
		float: left;
	}
	.img{
		width:100%;
		height:200px;
	}
	.label{
		position:absolute;
		width:30%;
		bottom:0;
		left:0;
		height:30px;
		background: rgba(0,0,0,0.3);
		text-align: left;
	}
	.label span{
		color:#ffffff;
		font-size: 14px;
		font-weight: bold;
		line-height: 30px;
	}
	.list{
		clear:both;
		text-align: left;
		margin-top: 20px;
	}
	.list ul{
		margin: 0;
		padding:0;
	}
	.list ul li{
		clear: both;
		text-decoration: none;
		list-style: none;
		border-top: 1px solid #ccc;
		padding:10px 0 10px 0;
		overflow: hidden;
	}
	.list ul li .leftimg{
		float: left;
		width:200px;
		height:150px;
		margin-right: 10px;
	}
	.list ul li .rightbox{
		/*float: left;*/
		height: 150px;
		position:relative;
		margin-left: 220px;
	}
	.list ul li .r-title{
		font-size:18px;
		color:#333;
	}
	.list ul li .r-content{
		margin-top: 15px;
		font-size:13px;
		color:#666;
	}
	.list ul li .r-footer{
		position: absolute;
		font-size:13px;
		color:#666;
		bottom:0;
		left:0;
	}
</style>

<h3 class="page-title">
	{{$state.current.data.pageTitle}}
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="javascript:;">{{$state.current.data.pageTitle}}</a>
		</li>
	</ul>
</div>
<div class="banner">
	<div class="imgbox">
		<img class="img" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=514880938,3245699621&fm=80&w=179&h=119&img.JPEG" alt="" />
		<div class="label">
			<span>马渚镇水利信息云平台正式对外发布</span>
		</div>
	</div>
	<div class="imgbox">
		<img class="img" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=514880938,3245699621&fm=80&w=179&h=119&img.JPEG" alt="" />
		<div class="label">
			<span>马渚镇水利信息云平台正式对外发布</span>
		</div>
	</div>
	<div class="imgbox">
		<img class="img" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=514880938,3245699621&fm=80&w=179&h=119&img.JPEG" alt="" />
		<div class="label">
			<span>马渚镇水利信息云平台正式对外发布</span>
		</div>
	</div>

</div>
<div class="list">
	<ul>
		<li>
			<div class="">
				<img class="leftimg" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=514880938,3245699621&fm=80&w=179&h=119&img.JPEG" alt="" />
				<div class="rightbox">
					<div class="r-title">
						<span>马渚镇水利信息云平台正式对外发布</span>
					</div>
					<div class="r-content">
						这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要
					</div>
					<div class="r-footer">
						<span>1分钟前</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="">
				<img class="leftimg" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=514880938,3245699621&fm=80&w=179&h=119&img.JPEG" alt="" />
				<div class="rightbox">
					<div class="r-title">
						<span>马渚镇水利信息云平台正式对外发布</span>
					</div>
					<div class="r-content">
						这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要
					</div>
					<div class="r-footer">
						<span>1分钟前</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
