<style media="screen">
  .detail .title{
    font-size:24px;
		color:#333;
  }
  .detail .sub-title{
    margin-top: 15px;
    font-size:13px;
		color:#666;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .detail .content{
    font-size:13px;
    color:#666;
  }
</style>

<h3 class="page-title">
	{{$state.current.data.pageTitle}}
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="javascript:;">{{$state.current.data.pageTitle}}</a>
		</li>
	</ul>
</div>
<div class="detail">
  <div class="title">
    <span>马渚镇水利信息云平台正式对外发布</span>
  </div>
  <div class="sub-title">
    <span>1分钟前</span>
  </div>
  <div class="content">
    这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要这里是内容摘要
  </div>
</div>
