<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue-madison">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>{{$state.current.data.pageTitle}}
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<form id="searchForm" class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-1">搜索：</label>
							<div class="col-md-3">
								<input type="text" class="form-control" ng-model="text" placeholder="请输入名称检索"/>
							</div>
							<div class="col-md-2">
								<button class="btn blue" type="button" id="searchBtn">搜索</button>
								<button class="btn default" type="button" ng-click="emptyData()">重置</button>
							</div>
							<div class="col-md-4">
								<a href="" class="btn blue" ng-click="DownLoad1()" button-show>
									导出样表</a>
								<a href="" data-toggle="modal" data-target=".bs-yingyongshui-modal-lg" class="btn blue" button-show>
									数据导入</a>
							</div>
						</div>
					</form>
				</div>
				<table class="table table-striped table-bordered table-hover" id="sample_3">
					<thead>
						<tr>
							<th rowspan="3" style="vertical-align:middle;">
								序号
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								供水站名称
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								所在村
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								受益片区
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								受益人口
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								供水规模（m³/d）
							</th>
							<th colspan="6" style="text-align:center;border-bottom:1px solid #ddd;">
								水源情况
							</th>
							<th colspan="2" style="text-align:center;border-bottom:1px solid #ddd;">
								水处理方式
							</th>
							<th colspan="2" style="text-align:center;border-bottom:1px solid #ddd;">
								消毒方式
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								配水管网管径
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								管理人员
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								电话
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								建成时间
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								照片
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								备注
							</th>
							<th rowspan="3" style="vertical-align:middle;">
								操作
							</th>
						</tr>
						<tr>
							<th rowspan="2" style="vertical-align:middle;">
								名称
							</th>
							<th rowspan="2" style="vertical-align:middle;">
								类型
							</th>
							<th rowspan="2" style="vertical-align:middle;">
								集水面积（km²）
							</th>
							<th rowspan="2" style="vertical-align:middle;">
								正常库容（万m³）
							</th>
							<th colspan="2" style="vertical-align:middle;border-bottom:1px solid #ddd;">
								其他功能
							</th>
							<th rowspan="2" style="vertical-align:middle;">
								工艺
							</th>
							<th rowspan="2" style="vertical-align:middle;">
								型号
							</th>
							<th rowspan="2" style="vertical-align:middle;">
								工艺
							</th>
							<th rowspan="2" style="vertical-align:middle;border-right:1px solid #ddd;">
								型号
							</th>
						</tr>
						<tr>
							<th>
								灌溉
							</th>
							<th style="border-right:1px solid #ddd;">
								发电
							</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<div class="modal fade bs-yingyongshui-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<input-files ng-model="a" ng-url="drinkingWater/import" make-sure="MakeSureUpLoad"></input-files>
						</div>
					</div>
				</div>
			</div>
			<div class=" modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-UpImage-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">上传图片</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="form-group">
						<div class="col-md-3" ng-repeat="n in imgUrlList track by $index">
							<input-image ng-model="imgUrlList[$index]"></input-image>
						</div>
						<div class="col-md-3">
							<a href="" class="btn blue" ng-click="addimage()">添加图片</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoadImage()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
