<h3 class="page-title">
	{{$state.current.data.pageTitle}}
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="javascript:;">{{$state.current.data.pageTitle}}</a>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue-madison">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>{{$state.current.data.pageTitle}}
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload"></a>
				</div>
			</div>
			<div class="portlet-body">
				<ul id="Tabs" class="nav nav-tabs">
					<li class="active" type="table" style="width:20%;text-align:center;">
						<a href="#hzzjcxx" data-toggle="tab">
							河长制基础信息</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;">
						<a href="#hdpsktjb" data-toggle="tab">
							河道排水口统计表
						</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;">
						<a href="#szjcjbxx" data-toggle="tab">
							水质监测基本情况
						</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;">
						<a href="#szjccg" data-toggle="tab">
							水质监测成果
						</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;">
						<a href="#rhpwktj" data-toggle="tab">
							入河排污水（口）统计
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="hzzjcxx" class="form-horizontal tab-pane active">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text1" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn1">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData1()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad1()">
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-jibenxinxi-modal-lg" class="btn blue">
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_1">
								<thead>
									<tr>
										<th>
											序号
										</th>
										<th>
											河道名称
										</th>
										<th>
											编号
										</th>
										<th>
											长度
										</th>
										<th>
											河道起点
										</th>
										<th>
											河道终点
										</th>
										<th>
											河长
										</th>
										<th>
											职务
										</th>
										<th>
											河长联系方式
										</th>
										<th>
											河道警长
										</th>
										<th>
											河道警长联系方式
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div id="hdpsktjb" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text2" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn2">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData2()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad2()">
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-paishuikou-modal-lg" class="btn blue">
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_2">
								<thead>
									<tr>
										<th>
											序号
										</th>
										<th>
											编号
										</th>
										<th>
											河道级别
										</th>
										<th>
											河流名称
										</th>
										<th>
											雨水口
										</th>
										<th>
											污水口
										</th>
										<th>
											雨污混排区
										</th>
										<th>
											排水口总数
										</th>
										<th>
											污水口平面位置图
										</th>
										<th>
											入河排污（水）口统计表
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div id="szjcjbxx" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text3" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn3">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData3()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad3()">
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-shuizhijiance-modal-lg" class="btn blue">
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_3">
								<thead>
									<tr>
										<th>
											序号
										</th>
										<th>
											河道名称
										</th>
										<th>
											监测点位置
										</th>
										<th>
											经纬度
										</th>
										<th>
											水质监测成果表
										</th>
										<th>
											图片
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div id="szjccg" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text4" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn4">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData4()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad4()">
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-shuizhichengguo-modal-lg" class="btn blue">
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
									<tr>
										<th>
											时间
										</th>
										<th>
											监测点
										</th>
										<th>
											位置
										</th>
										<th>
											水温
										</th>
										<th>
											PH值
										</th>
										<th>
											浊度
										</th>
										<th>
											化学需氧量（COD）
										</th>
										<th>
											氨氮(NH3-N)
										</th>
										<th>
											总磷(以P计)
										</th>
										<th>
											总氮（以N计）
										</th>
										<th>
											其他
										</th>
										<th>
											结论
										</th>
										<th>
											备注
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div id="rhpwktj" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text5" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn5">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData5()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad5()">
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-ruhepaiwu-modal-lg" class="btn blue">
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_5">
								<thead>
									<tr>
										<th rowspan="2">
											序号
										</th>
										<th rowspan="2">
											排污口名称
										</th>
										<th rowspan="2">
											排污（水）口位置
										</th>
										<th rowspan="2">
											排入水体名称
										</th>
										<th rowspan="2">
											污染源
										</th>
										<th rowspan="2">
											所在村
										</th>
										<th colspan="2">
											排放方式
										</th>
										<th colspan="6">
											入河方式
										</th>
										<th rowspan="2">
											排水口处理方式
										</th>
										<th rowspan="2">
											照片
										</th>
										<th rowspan="2">
											备注
										</th>
									</tr>
									<tr>
										<th>连续</th>
										<th>间歇</th>
										<th>明渠</th>
										<th>管道</th>
										<th>泵站</th>
										<th>涵闸</th>
										<th>潜设</th>
										<th>其他</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<div class="modal fade bs-jibenxinxi-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<form action="http://139.199.27.165:8081/RiverManagerBase/import" method="post" enctype="multipart/form-data">
								<input type="file" name="efile"/>
								<input type="submit" value="Submit"/>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad3()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-paishuikou-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<form action="http://139.199.27.165:8081/RiverDrain/import" method="post" enctype="multipart/form-data">
								<input type="file" name="efile"/>
								<input type="submit" value="Submit"/>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad3()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-shuizhijiance-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<form action="http://139.199.27.165:8081/WaterQualityBase/import" method="post" enctype="multipart/form-data">
								<input type="file" name="efile"/>
								<input type="submit" value="Submit"/>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad3()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-shuizhichengguo-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<form action="http://139.199.27.165:8081/WaterQualityDesc/import" method="post" enctype="multipart/form-data">
								<input type="file" name="efile"/>
								<input type="submit" value="Submit"/>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad3()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-ruhepaiwu-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<form action="http://139.199.27.165:8081/RiverDrainExtend/import" method="post" enctype="multipart/form-data">
								<input type="file" name="efile"/>
								<input type="submit" value="Submit"/>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad3()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
