<div class="row">
	<div class="col-md-12">
		<div class="portlet box blue-madison">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>{{
					$state.current.data.pageTitle
				}}
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload"></a>
				</div>
			</div>
			<div class="portlet-body form-horizontal">
				<div class="form-group">
					<div class="col-md-2" ng-repeat="a in AreaList" style="margin:5px 0">
						<input type="checkbox" ng-model="Area" ng-checked="a.isManage" ng-click="updateArea(a,$event)" bn-uniform>
						<span class="form-controll-static">{{a.name}}</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<a href="" class="btn blue" ng-click="MakeSure()">确认绑定</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
