<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue-madison">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>{{$state.current.data.pageTitle}}
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload"></a>
				</div>
			</div>
			<div class="portlet-body">
				<ul id="Tabs" class="nav nav-tabs">
					<li class="active" type="table" style="width:20%;text-align:center;">
						<a href="#hzzjcxx" data-toggle="tab" ng-click="RemeberTab(0)">
							村社区防汛台基本情况</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;" button-show>
						<a href="#hdpsktjb" data-toggle="tab" ng-click="RemeberTab(1)">
							乡镇负责人
						</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;" button-show>
						<a href="#szjcjbxx" data-toggle="tab" ng-click="RemeberTab(2)">
							责任人表
						</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;" button-show>
						<a href="#szjccg" data-toggle="tab" ng-click="RemeberTab(3)">
							网络负责人
						</a>
					</li>
					<li type="chart" style="width:20%;text-align:center;" button-show>
						<a href="#rhpwktj" data-toggle="tab" ng-click="RemeberTab(4)">
							危险区域人员转移单
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="hzzjcxx" class="form-horizontal tab-pane active">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text1" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn1">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData1()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad1()" button-show>
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-jibenxinxi-modal-lg" class="btn blue" button-show>
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_1">
								<thead>
									<tr>
										<th>
											序号
										</th>
										<th>
											乡（镇、街道）<br>防汛防台负责人
										</th>
										<th>
											村（社区）
										</th>
										<th>
											防汛防台形式图
										</th>
										<th>
											责任人表
										</th>
										<th>
											网络负责任表
										</th>
										<th>
											危险区域人员转移清单
										</th>
										<th>
											操作
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div id="hdpsktjb" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text2" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn2">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData2()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad2()" button-show>
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-paishuikou-modal-lg" class="btn blue" button-show>
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_2">
								<thead>
									<tr>
										<th>
											序号
										</th>
										<th>
											村（社区）
										</th>
										<th>
											岗位
										</th>
										<th>
											责任人
										</th>
										<th>
											责任人职务
										</th>
										<th>
											责任人手机
										</th>
										<th>
											更新时间
										</th>
										<th>
											备注
										</th>
										<th>
											操作
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div id="szjcjbxx" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text3" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn3">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData3()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad3()" button-show>
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-shuizhijiance-modal-lg" class="btn blue" button-show>
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_3">
								<thead>
									<tr>
										<th>
											序号
										</th>
										<th>
											行政村名称
										</th>
										<th>
											岗位
										</th>
										<th>
											责任人
										</th>
										<th>
											责任人职务
										</th>
										<th>
											责任人联系方式
										</th>
										<th>
											备注
										</th>
										<th>
											操作
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div id="szjccg" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text4" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn4">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData4()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad4()" button-show>
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-shuizhichengguo-modal-lg" class="btn blue" button-show>
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
									<tr>
										<th>
											序号
										</th>
										<th>
											行政村
										</th>
										<th>
											网络名称
										</th>
										<th>
											网络类型
										</th>
										<th>
											责任人
										</th>
										<th>
											责任人职务
										</th>
										<th>
											责任人联系方式
										</th>
										<th>
											备注
										</th>
										<th>
											操作
										</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div id="rhpwktj" class="form-horizontal tab-pane ">
						<div class="portlet-body">
							<div class="row">
								<form id="searchForm" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1">搜索：</label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="text5" placeholder="请输入名称检索"/>
										</div>
										<div class="col-md-2">
											<button class="btn blue" type="button" id="searchBtn5">搜索</button>
											<button class="btn default" type="button" ng-click="emptyData5()">重置</button>
										</div>
										<div class="col-md-4">
											<a href="" class="btn blue" ng-click="DownLoad5()" button-show>
												导出样表</a>
											<a href="" data-toggle="modal" data-target=".bs-ruhepaiwu-modal-lg" class="btn blue" button-show>
												数据导入</a>
										</div>
									</div>
								</form>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_5">
								<thead>
									<tr>
										<th rowspan="2">
											序号
										</th>
										<th rowspan="2">
											行政村
										</th>
										<th rowspan="2">
											危险区域名称
										</th>
										<th rowspan="2">
											类别
										</th>
										<th colspan="3" style="border-bottom:1px solid #ddd">
											地点经度
										</th>
										<th colspan="3" style="border-bottom:1px solid #ddd">
											受危险地区（点）影响人员
										</th>
										<th colspan="3" style="border-bottom:1px solid #ddd">
											转移责任人
										</th>
										<!-- <th colspan="3" style="border-bottom:1px solid #ddd">
											预警责任人
										</th> -->
										<th colspan="4" style="border-bottom:1px solid #ddd">
											转移地点
										</th>
										<th rowspan="2">
											备注
										</th>
										<th rowspan="2">
											操作
										</th>
									</tr>
									<tr>
										<th>位置</th>
										<th>经度</th>
										<th>纬度</th>
										<th>户主姓名</th>
										<th>居住人数</th>
										<th>户主手机</th>
										<th>姓名</th>
										<th>职务</th>
										<th>手机</th>
										<!-- <th>姓名</th>
										<th>职务</th>
										<th>手机</th> -->
										<th>避灾场所名称</th>
										<th>有无安全鉴定</th>
										<th>避灾场所管理员</th>
										<th style="border-right:1px solid #ddd">手机</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<div class="modal fade bs-jibenxinxi-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<input-files ng-model="a" ng-url="flood/importBaseInfo" make-sure="MakeSureUpLoad1"></input-files>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad1()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-paishuikou-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<input-files ng-model="b" ng-url="flood/importFloodLeaderInfo" make-sure="MakeSureUpLoad2"></input-files>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad2()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-shuizhijiance-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<input-files ng-model="c" ng-url="flood/importFloodOwnerInfo" make-sure="MakeSureUpLoad3"></input-files>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad3()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-shuizhichengguo-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<input-files ng-model="d" ng-url="flood/importFloodNetworkOwnerInfo" make-sure="MakeSureUpLoad4"></input-files>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad4()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-ruhepaiwu-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">数据导入</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group">
							<h4 style="color:orange;">我确认已经填写好样表数据信息</h4>
						</div>
						<div class="form-group">
							<input-files ng-model="e" ng-url="flood/importTransferPeopleInfo" make-sure="MakeSureUpLoad5"></input-files>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpLoad5()">确定导入</button>
				<button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">不导入</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-to3-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog" style="width:80%;">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<table class="table table-striped table-bordered table-hover" id="sample_6">
						<thead>
							<tr>
								<th>
									序号
								</th>
								<th>
									行政村名称
								</th>
								<th>
									岗位
								</th>
								<th>
									责任人
								</th>
								<th>
									责任人职务
								</th>
								<th>
									责任人联系方式
								</th>
								<th>
									备注
								</th>
								<th>
									操作
								</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-to4-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog" style="width:80%;">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<table class="table table-striped table-bordered table-hover" id="sample_7">
						<thead>
							<tr>
								<th>
									序号
								</th>
								<th>
									行政村
								</th>
								<th>
									网络名称
								</th>
								<th>
									网络类型
								</th>
								<th>
									责任人
								</th>
								<th>
									责任人职务
								</th>
								<th>
									责任人联系方式
								</th>
								<th>
									备注
								</th>
								<th>
									操作
								</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-to5-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel">
	<div class="modal-dialog" style="width:80%;">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<table class="table table-striped table-bordered table-hover" id="sample_8">
						<thead>
							<tr>
								<th rowspan="2">
									序号
								</th>
								<th rowspan="2">
									行政村
								</th>
								<th rowspan="2">
									危险区域名称
								</th>
								<th rowspan="2">
									类别
								</th>
								<th colspan="3" style="border-bottom:1px solid #ddd">
									地点经度
								</th>
								<th colspan="3" style="border-bottom:1px solid #ddd">
									受危险地区（点）影响人员
								</th>
								<th colspan="3" style="border-bottom:1px solid #ddd">
									转移责任人
								</th>
								<!-- <th colspan="3" style="border-bottom:1px solid #ddd">
									预警责任人
								</th> -->
								<th colspan="4" style="border-bottom:1px solid #ddd">
									转移地点
								</th>
								<th rowspan="2">
									备注
								</th>
								<th rowspan="2">
									操作
								</th>
							</tr>
							<tr>
								<th>位置</th>
								<th>经度</th>
								<th>纬度</th>
								<th>户主姓名</th>
								<th>居住人数</th>
								<th>户主手机</th>
								<th>姓名</th>
								<th>职务</th>
								<th>手机</th>
								<!-- <th>姓名</th>
								<th>职务</th>
								<th>手机</th> -->
								<th>避灾场所名称</th>
								<th>有无安全鉴定</th>
								<th>避灾场所管理员</th>
								<th style="border-right:1px solid #ddd">手机</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
