<h3 class="page-title">
	{{$state.current.data.pageTitle}}
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="javascript:;">{{$state.current.data.pageTitle}}</a>
		</li>
	</ul>
</div>
<div class="">
	<div class="alert alert-info">
		<strong></strong> 您可以管理和查看余姚 22个乡镇的水利信息
	</div>
	<div class="">
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
		<button type="button" class="btn btn-info" style="width:15%;margin-right:2%;margin-bottom:10px;height:50px;">马渚镇</button>
	</div>
</div>
