<h3 class="page-title">
	{{$state.current.data.pageTitle}}
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="javascript:;">{{$state.current.data.pageTitle}}</a>
		</li>
	</ul>
</div>
<div>
	<div class="alert alert-info">
		您可以管理和查看余姚&nbsp;{{CityList[0].list.length}}&nbsp;个乡镇的水利信息
	</div>
	<div>
		<span ng-repeat="n in CityList[0].list">
			<a href="" class="btn btn-info" ng-click="setCurrentArea(n.id)" style="width:15%;margin-right:2%;margin-bottom:10px;padding:20px;">{{n.name}}</a>
		</span>
	</div>
</div>
