Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

#RewriteRule ^api/(.*) api.php/api/$1 [L]
RewriteRule ^w/(.*) microshop.php/w/$1 [L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php