<div class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header" ng-show="modalTitle">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">货物管理</h4>
            </div>
            <div class="modal-body">
               <div class="row">
                    <form id="searchForm" class="col-md-12 form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">货号：</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="searchDetail.cargoNo" placeholder="输入货号" />
                                    </div>
                                    <label class="control-label col-md-2">分类：</label>
                                    <div class="col-md-2">
                                        <select class="form-control" ng-model="searchDetail.categoryId" ng-options="m.id as m.name2 for m in ccSelectList" select2 clear-model>
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1">名称：</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="searchDetail.name" placeholder="输入名称" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">供应商：</label>
                                    <div class="col-md-2">
                                        <!-- 可以使用select2 -->
                                        <select class="form-control" ng-model="searchDetail.supplierId" ng-options="m.suppliersId as m.name for m in supplierList" select2 clear-model>
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-2">厂家型号：</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="searchDetail.manufacturerModel" placeholder="输入厂家型号" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">采购价：</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="searchDetail.minPurchasePrice" placeholder="输入采购价" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="searchDetail.maxPurchasePrice" placeholder="输入采购价" />
                                    </div>
                                    <div class="col-md-4 pull-right">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-8">
                                                <button class="btn blue" type="button" id="searchBtn" ng-click="searchCargoes()">搜索</button>
                                                <button class="btn default emptyData" type="button" ng-click="emptyData()">清空</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- tab页开始 -->
                <table class="table table-striped table-bordered table-hover" id="sample_3">
                    <thead>
                        <tr>
                            <th>
                                序号
                            </th>
                            <th>
                                编号
                            </th>
                            <th>
                                货号  
                            </th>
                            <th>
                                名称
                            </th>
                            <th>
                                图片
                            </th>
                            <th>
                                分类
                            </th>
                            <th>
                                供应商
                            </th>
                            <th>
                                厂家型号
                            </th>
                            <th>
                                规格备注
                            </th>
                            <th>
                                采购价
                            </th>
                            <th>
                                包裹数
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">返回</button>
                <button type="button" class="btn blue" ng-click="modalOk()" validate-all>确认</button>
            </div>
        </div>
    <!-- /.modal-dialog -->
</div>