<div class="page-sidebar navbar-collapse collapse" style="width:150px;">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<li>
			<a href="#/YYTown">
				<i class="icon-bar-chart"></i>
				<span class="title">余姚乡镇</span>
			</a>
		</li>
	</ul>
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}" ng-repeat="item in MenuList">
		<li class="heading">
			<h3 class="uppercase" style="color:white;">{{item.name}}</h3>
		</li>
		<li ng-repeat="v in item.childrenList">
			<a href="{{v.url}}">
				<i class="icon-bar-chart"></i>
				<span class="title">{{v.name}}</span>
				<span class="arrow" ng-if="v.childrenList.length"></span>
			</a>
			<ul class="sub-menu" ng-if="v.childrenList.length">
				<li ng-repeat="o in v.children">
					<a href="{{o.url}}">{{o.name}}</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}" sidebar-show>
		<li class="heading">
			<h3 class="uppercase" style="color:white;">账户信息</h3>
		</li>
		<li>
			<a href="#/AccountManagement">
				<i class="icon-bar-chart"></i>
				<span class="title">账户管理</span>
			</a>
		</li>
	</ul>
</div>
