<div class="page-sidebar navbar-collapse collapse">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<!-- <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}" ng-repeat="item in MenuList">
		<li class="heading">
			<h3 class="uppercase">{{item.name}}</h3>
		</li>
		<li ng-repeat="v in item.childrenList">
			<a href="{{v.url}}">
				<i class="icon-bar-chart"></i>
				<span class="title">{{v.name}}</span>
				<span class="arrow" ng-if="v.childrenList.length"></span>
			</a>
			<ul class="sub-menu" ng-if="v.childrenList.length">
				<li ng-repeat="o in v.children">
					<a href="{{o.url}}">{{o.name}}</a>
				</li>
			</ul>
		</li> -->
		<!-- 首页 -->
		<li>
			<a href="#/YYTown">
				<i class="icon-bar-chart"></i>
				<span class="title">余姚乡镇</span>
			</a>
		</li>
		<li class="heading">
			<h3 class="uppercase" style="color:white;">水利信息</h3>
		</li>
		<li>
			<a href="#/BasicInformation">
				<i class="icon-bar-chart"></i>
				<span class="title">基本情况</span>
			</a>
		</li>
		<li>
			<a href="#/GEOInfo">
				<i class="icon-bar-chart"></i>
				<span class="title">地理信息</span>
			</a>
		</li>
		<li>
			<a href="#/Reservoir">
				<i class="icon-bar-chart"></i>
				<span class="title">水库山塘</span>
			</a>
		</li>
		<li>
			<a href="#/River">
				<i class="icon-bar-chart"></i>
				<span class="title">河道</span>
			</a>
		</li>
		<li>
			<a href="#/Lock">
				<i class="icon-bar-chart"></i>
				<span class="title">水闸</span>
			</a>
		</li>
		<li>
			<a href="#/PumpStation">
				<i class="icon-bar-chart"></i>
				<span class="title">泵站</span>
			</a>
		</li>
		<li>
			<a href="#/LongRiverSystem">
				<i class="icon-bar-chart"></i>
				<span class="title">河长制</span>
			</a>
		</li>
		<li>
			<a href="#/MountainTorrentDisaster">
				<i class="icon-bar-chart"></i>
				<span class="title">山洪灾害</span>
			</a>
		</li>
		<li>
			<a href="#/DrinkingWater">
				<i class="icon-bar-chart"></i>
				<span class="title">农民饮用水</span>
			</a>
		</li>
		<li>
			<a href="#/Irrigation">
				<i class="icon-bar-chart"></i>
				<span class="title">农田水利</span>
			</a>
		</li>
		<li>
			<a href="#/Archive">
				<i class="icon-bar-chart"></i>
				<span class="title">档案页</span>
			</a>
		</li>
		<!-- <li>
			<a href="#/VideoMonitoring">
				<i class="icon-bar-chart"></i>
				<span class="title">视频监控</span>
			</a>
		</li>
		<li>
			<a href="#/WaterLevel">
				<i class="icon-bar-chart"></i>
				<span class="title">实时水位</span>
			</a>
		</li>
		<li>
			<a href="#/RainfallRegime">
				<i class="icon-bar-chart"></i>
				<span class="title">雨情</span>
			</a>
		</li> -->
		<li class="heading">
			<h3 class="uppercase" style="color:white;">账户信息</h3>
		</li>
		<li>
			<a href="#/AccountManagement">
				<i class="icon-bar-chart"></i>
				<span class="title">账户管理</span>
			</a>
		</li>
		<li class="heading">
			<h3 class="uppercase" style="color:white;">地市管理</h3>
		</li>
		<li>
			<a href="#/CityManagement">
				<i class="icon-bar-chart"></i>
				<span class="title">地市管理</span>
			</a>
		</li>
		<li class="heading">
			<h3 class="uppercase" style="color:white;">内容管理</h3>
		</li>
		<li>
			<a href="#/InformationManagement">
				<i class="icon-bar-chart"></i>
				<span class="title">基本情况</span>
			</a>
		</li>
		<li class="heading">
			<h3 class="uppercase" style="color:white;">文档管理</h3>
		</li>
		<li>
			<a href="#/FileInformationManagement">
				<i class="icon-bar-chart"></i>
				<span class="title">档案信息</span>
			</a>
		</li>
	</ul>
</div>
