<style type="text/css">
	.table-not-show {
		display: none!important;
	}
</style>
<ul id="tabs" class="nav nav-tabs" ng-hide="{{hideTab==='true'}}">
	<li ng-click="click0()">
		<a href="" data-toggle="tab" aria-expanded="false">全部</a>
	</li>
	<li ng-click="click1()">
		<a href="" data-toggle="tab" aria-expanded="false">待审核</a>
	</li>
	<li ng-click="click2()">
		<a href="" data-toggle="tab" aria-expanded="false">已通过</a>
	</li>
	<li ng-click="click3()">
		<a href="" data-toggle="tab" aria-expanded="false">已驳回</a>
	</li>
</ul>
<div ng-class="{'table-not-show':!$first}" ng-repeat="n in [0,1,2,3]">
	<table class="table table-striped table-bordered table-hover" id="{{'sample_'+$index}}">
		<thead>
			<tr>
				<th ng-repeat="n in tableParams.title">{{n}}
				</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
